*
!.gitignore
!README.md
!TODO.md
!install.sh
!bin/
!bin/**
!docs/
!docs/**
!libexec/
!libexec/**
!profiles/
!profiles/**
!shell/
!shell/**
!tests/
!tests/**
!.codex/
!.codex/**
!.claude/
!.claude/**
!shared/
!shared/**
